@import "../index.css";

.news-page{
    display: flex;
  
}

.feature-story-container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: stretch;
    height: 50vh;
    width:auto;
}

.feature-story{
    display:flex;
    flex:3;
    border-right: #d3d3d3 solid 1px;
    border-bottom:#d3d3d3 solid 1px;
    flex-direction: row;
    width:100%;
    position:relative;
    padding:.5rem;
}

.feature-text{
    flex:1;
}
.f-image{
    width:100%;
    flex:1;
    align-items: center;
    justify-content:center;
    overflow:hidden;
}

.feature-image{
    max-width: 100%;
    height:100%;
}

.feature-story-sub{
    flex:1;
    flex-direction: column;
    padding:.5rem;
    border-bottom: #d3d3d3 solid 1px;
    position:relative;
}

.feature-story-sub-image{
    width:100%;
    height:auto;
}

.other-stories-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 50vh;
    width:auto;
}

.other-stories-main{
    flex:3;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: stretch;
    height: 50vh;
    width:auto;
  
}

.other-stories-image{
    width:100%;
    height:50%;
    }

.o-story1, 
.o-story2, 
.o-story3{
    flex:1;
    border-right:var(--border);
    padding:.5rem;
    position: relative;
}

.o-sub1{
    width:100%;
    height:50%;
    position: relative;
    border-bottom:var(--border);
}

.o-auth, .f-auth{
    bottom:0;
    position:absolute;
    font-weight:600;
    margin-bottom:1rem;
}

.other-stories-sub{
    flex:1;
}

.other-stories-sub article{
    border-bottom:var(--border);
    padding:1.5rem;
}

@media (max-width: 1024px) {
    .news-page {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    }
  
    .feature-story-container{
    flex-direction:column;
    justify-items:center;
    align-items: center;
    height:100vh;
    }
  
    .feature-story{
        flex-direction:column;
    }

    .feature-text{
        flex:0;
    }
 
    .feature-story-sub{
        flex:0;
        flex-direction: column;
    }
    
    .feature-story-sub-image{
        width:100%;
        height:auto;
    }

.o-auth, .f-auth{
    bottom:0;
    position:relative;
}

.other-stories-container{
    flex-direction: column;
    margin-top: 20rem;
}


.other-stories-image{
    width:100%;
    height:auto;
    }


.other-stories-sub{
    margin-top:8rem;
    border-top:var(--border);


.o-sub2{
    margin-top:4rem;
   
}

}

@media (max-width: 430px) {

    .feature-story-container{
    margin:0 2rem;
    padding:2rem;
    width: 100vw;
    height:auto;
    overflow:hidden;
    }

    .other-stories-container{
        flex-direction: column;
        margin: 0 2rem;
        padding: 1rem;
    }

    .other-stories-main{
        flex-direction: column;
    }

    .other-stories-sub{
        margin-top:58rem;
    }

    .o-story1, 
.o-story2, 
.o-story3{
    border-right: none;
    border-bottom: var(--border);
}

.o-sub2{
    margin:1rem auto 4rem auto; 
    
}

@media (max-width: 378px) {
    .other-stories-sub{
        margin-top:70rem;
    }
}

}
}